/* Roboto regular */

@font-face {
    font-family: "Roboto";
url("/public/fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto italic */

@font-face {
    font-family: "Roboto";
url('/public/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto bold */

@font-face {
    font-family: "Roboto";
url('/public/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --bg-color-light: #eee;
    --bg-color-dark: #606b72;
    --branding-color-light: #173d7a;
    --branding-color-dark: #142D68;
    --branding-color-light-hover: #0f284f;
    --text-color: #454545;
    --text-color-light: #b3b2b2;
}


html {
    font-family: 'Roboto', sans-serif;
}

body {
    color:  var(--text-color);
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: bolder;
}

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 16pt;
    margin-bottom: 10px;
    min-width: 200px;
}

p {
    margin: 0;
}
